*{
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 10px;
    color: antiquewhite;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.container{
    width: 375px;
    height: 100px;
    margin: 30vh;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
}
.container1{
    font-size: 100px;
    margin-left: 20px;
    width: 425px ;
}
.container2{
    display: flex;
    justify-content: center;

}
.btn{
    margin-left: 10px;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}